

@media (min-width: 768px) {
    .hero {
        background-image: url("/img/MF-SumOfAllFears.jpg");
        background-repeat:  no-repeat;
        background-size: cover;
        background-position: fixed;
        margin: 0;
        overflow: hidden;
        padding: 10px 0;
        align-items: center;
        justify-content: center;
        display: flex;
        min-height: 57rem;
        max-width: 100%;
    }
}